* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Handlee", cursive;
}
:root {
  --border: 1px solid #8b8589;
  --border-radius: 5px;
  --light_bg: lightgrey;
  --dark_bg: #a76bcf;
  --yellow: #fff740;
  --pink: #ff65a3;
  --blue: #7afcff;
  --white: white;
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}
.wrapper {
  max-width: 85vw;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.container h2 {
  border-bottom: var(--border);
  background-color: var(--dark_bg);
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: 1fr 5fr;
  gap: 0.5rem;
}
.grid_item {
  min-height: 20rem;
  max-height: 80vh;
  overflow: auto;
  border: 1px solid grey;
  background-color: var(--light_bg);
  text-align: center;
  border-radius: var(--border-radius);
}
.add_task {
  border: 1px solid grey;
  background-color: var(--light_bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: var(--border-radius);
}
.add_task input {
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
}
.add_task button {
  padding: 0 1rem;
  cursor: pointer;
  background-color: var(--dark_bg);
  border: none;
  border-radius: var(--border-radius);
}
.add_task button:hover {
  color: var(--white);
}
.color {
  padding: 0 1rem;
}
.high {
  background-color: var(--pink);
}
.med {
  background-color: var(--yellow);
}
.soso {
  background-color: var(--blue);
}
.to_do_container {
  border: var(--border);
  background-color: var(--white);
  max-width: 100%;
  min-height: 3rem;
  margin: 1rem;
  padding: 0 0.5rem;
  cursor: grab;
  border-radius: var(--border-radius);
  text-align: start;
  overflow-wrap: break-word;
}
.task_foot {
  display: flex;
  justify-content: space-between;
  color: var(--dark_bg);
}
.delete_btn {
  cursor: pointer;
}
